<!-- START: Auth Signup Page -->
<div class="auth-form container">
    <!-- START: Auth Signup Card -->
    <div class="card" >
        <!-- START: Panel Body -->
        <div class="panel-body">
            <!-- START: Card Title -->
            <h5 class="card-title">{{_ 'Sign up'}}</h5>
            <!-- END: Card Title -->
            <!-- START: Auth Signup Form -->
            <form method="post">
                <!-- START: Profile Required Fields -->
                {{#format 'field' 'profile' item}}
                    {{#each formats}}
                        {{#in ../../profile_schema.required @key}}
                            {{> form_fieldset}}
                        {{/in}}
                    {{/each}}
                {{/format}}
                <!-- END: Profile Required Fields -->
                <!-- START: Auth Required Fields -->
                {{#format 'field' 'auth' item}}
                    {{#each formats}}
                        {{#in ../../auth_schema.required @key}}
                            {{> form_fieldset}}
                        {{/in}}
                        {{#when @key '===' 'auth_password'}}
                            <div class="form-group mt-2{{#if ../../errors.confirm}} has-error{{/if}}">
                                <label class="control-label">{{_ 'Confirm'}}</label>
                                <div
                                    class="form-password system-form-field"
                                    data-name="confirm"
                                >
                                    <input
                                        autocomplete="off"
                                        type="password"
                                        name="confirm"
                                        placeholder="{{_ 'Confirm'}}"
                                        class="form-control"
                                        value=""
                                    />
                                    {{#if ../../errors.confirm}}
                                        <span class="help-text">{{../../errors.confirm}}</span>
                                    {{/if}}
                                </div>
                            </div>
                        {{/when}}
                    {{/each}}
                {{/format}}
                <!-- END: Auth Required Fields -->

                {{#if captcha}}
                    <!-- START: Captcha -->
                    <div class="form-group{{#if errors.captcha}} has-error{{/if}}">
                        <script src="https://www.google.com/recaptcha/api.js"></script>
                        <div class="g-recaptcha" data-sitekey="{{captcha}}"></div>
                        {{#if errors.captcha}}
                        <span class="help-text">{{errors.captcha}}</span>
                        {{/if}}
                    </div>
                    <!-- END: Captcha -->
                {{/if}}
                <!-- START: Form Submit -->
                <div class="form-group">
                    <input type="hidden" name="csrf" value="{{csrf}}" />
                    <button class="btn btn-info btn-submit">{{_ 'Sign up'}}</button>
                </div>
                <!-- END: Form Submit -->
            </form>
            <!-- END: Auth Signup Form -->



            <!-- START: Login With Facebook Option -->
            <div class="form-group social-login">
                <p class="text-center or-text">{{_ 'or'}}</p>

                {{#if services.facebook-main.active}}
                    <!-- START: Login With Facebook Option -->
                    <a
                        class="btn btn-primary btn-facebook"
                        href="/auth/sso/login/facebook"
                        title="{{_ 'Log In with %s' 'Facebook'}}"
                        id="login-facebook-button"
                    >
                        <span class="fab fa-facebook-f"></span>
                        {{_ 'Log in with %s' 'Facebook'}}
                    </a>
                    <!-- END: Login With Facebook Option -->
                {{/if}}

                {{#if services.twitter-main.active}}
                    <!-- START: Login With Twitter Option -->
                    <a
                        class="btn btn-primary btn-twitter"
                        href="/auth/sso/login/twitter"
                        title="{{_ 'Log In with %s' 'Twitter'}}"
                        id="login-twitter-button"
                    >
                        <span class="fab fa-twitter"></span>
                        {{_ 'Log in with %s' 'Twiiter'}}
                    </a>
                    <!-- END: Login With Twitter Option -->
                {{/if}}

                {{#if services.google-main.active}}
                    <!-- START: Login With Google Option -->
                    <a
                        class="btn btn-primary btn-google"
                        href="/auth/sso/login/google"
                        title="{{_ 'Log In with %s' 'Google'}}"
                        id="login-google-button"
                    >
                        <span class="fab fa-google"></span>
                        {{_ 'Log in with %s' 'Google'}}
                    </a>
                    <!-- END: Login With Google Option -->
                {{/if}}

                <!-- START: Login Option -->
                <div class="form-group">
                    <p class="text-muted text-center">{{_ 'Have an existing account?'}}
                        <a title="Sign Up" class="brand-text" href="/auth/login?{{query}}">{{_ 'Login Here'}}</a>
                    </p>
                </div>
                <!-- END: Login Option -->
            </div>
        </div>
        <!-- END: Panel Body -->
    </div>
    <!-- END: Auth Signup Panel -->
</div>
<!-- END: Auth Signup Page -->
